body {
    margin: 0;
    padding: 0;
}

#input {
    width:30vw;
    /* height:calc(100vh - 20px); */
    height: 30vh;
    border:none;
    padding:5px;
    border:2px solid;
    border-color:#d3d3d3;
    border-radius:4px;
    outline:none;
    transition:500ms;
    transition-property:border-color;
    font-size:16px;
    box-sizing:border-box;
    white-space:nowrap;
}

.horizontal {
    padding: 10px;
    display: flex;
}

#input:focus {
    border-color:black;
    transition:500ms;
    transition-property:border-color;
}

.summation {
    color: #4800FF;
    border: 1px solid #4800FF;
    font-size: 16px;
    display:inline-block;
    padding-top: 1px;
    padding: 2px;
}

.summation.row {
    display:block;
}

.summation.col {
    margin: 2px;
}
